.vs/
.vscode/
x64/
**/x64/
Win32/
**/Win32/
Debug/
Release/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ilk
*.iobj
*.ipdb
*.obj
*.pdb
*.idb
*.recipe
*.tlog
*.lastbuildstate
*.exe
*.dll
*.lib
*.exp
*.vcxproj.user
*.VC.db
*.opendb
*.log
*.tmp
*.cache

# CMake
build/
build-*/
out/build/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/install_manifest.txt
/compile_commands.json
/CTestTestfile.cmake
/CPackConfig.cmake
/CPackSourceConfig.cmake
/build.ninja
/.ninja_deps
/.ninja_log
/rules.ninja
/CMakeUserPresets.json

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
